@import "../../scss/variables.scss";

.CardMovie {
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
  .containerImg {
    height: 25rem;
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }
  .star {
    color: $primary;
  }
  &__containerTitle {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }
}
