@import "../../scss/variables.scss";

.Chip {
  padding: 0px 12px;
  background-color: $background-chip-basic;
  border-radius: 6px;
  width: fit-content;
  margin: 0px 5px;
  color: $color-chip-basic;
}

.Chipfilter {
  color: $color-chip-filter;
  border-radius: 6px;
  margin: 0 8px 8px 0px;
  padding: 0px 10px;
  font-size: 1rem;
  background-color: $background-chip-filter;
  width: fit-content;
  .close {
    color: rgba(255, 69, 43, 0.15);
  }
}
