$primary: #ff452b;
$success: #ff452b;
$text: #263238;
$background-chip-basic: #607d8b;
$color-chip-basic: #eceff1;
$background-chip-filter: rgba(255, 69, 43, 0.1);
$color-chip-filter: #ff452b;
$enable-shadows: true;
$input-focus-box-shadow: none;
